{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>
Consignment    </title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


      <style>
        /* CSS for horizontal scrolling */
        .table-container {
            overflow-x: auto; /* Enable horizontal scrolling */
            -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
        }

        table {
            width: 100%; /* Ensure the table takes full width */
            min-width: 600px; /* Adjust based on the expected minimum width */
        }
    </style>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'branch_nav.html' %}

<br><br><br>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up"> Orders List</h1>


          </div>
        </div>
      </div>
    </div>
	<!-- end header -->

<div class="background-container"></div>
<div class="content">

<form method="post" action="{% url 'branchviewConsignment' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <label>From Date</label>
            <input type="date" class="form-control" id="from_date" name="from_date" >
        </div>
        <div class="col-md-3">
            <label>To Date</label>
            <input type="date" class="form-control" id="to_date" name="to_date" >
        </div>
<div class="col-md-3">
        <label>Order No</label>
<input type="text" class="form-control" id="orderno" name="orderno">
      </div>
        <div class="col-md-3">
            <label>&nbsp;</label> <!-- Empty label to align the button -->
            <button type="submit" class="form-control btn btn-primary">Search</button>
        </div>
    </div>
</form>
    <div class="table-container">
        <form method="get">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 10%;"> <!-- Adjust the width as needed -->
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Order.No</th>
                    <th scope="col">Barcode No.</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Category</th>
                    <th scope="col">No. of Articles</th>
                    <th scope="col">Shipper Name</th>
                    <th scope="col">Shipper Mobile No.</th>
                    <th scope="col">Shipper Address</th>
                    <th scope="col">Receiver Name</th>
                    <th scope="col">Receiver Mobile No.</th>
                    <th scope="col">Receiver Address</th>
                    <th scope="col">Revenue</th>
                    <th scope="col">Weight</th>
                    <th scope="col">E-Way Bill</th>
                    <th scope="col">Pay Status</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
                </thead>

               <tbody>
        {% for details in consignments_list %}
            <tr class="custom-row">
                <td>{{ details.date }}</td>
                <td>{{ details.track_id }}</td>
                <td>{{ details.barcode_number }}</td>
                <td>{{ details.route_from }}</td>
                <td>{{ details.route_to }}</td>
                <td>{{ details.category }}</td>
                <td>{{ details.pieces }}</td>
                <td>{{ details.sender_name }}</td>
                <td>{{ details.sender_mobile }}</td>
                <td>{{ details.sender_address }}</td>
                <td>{{ details.receiver_name }}</td>
                <td>{{ details.receiver_mobile }}</td>
                <td>{{ details.receiver_address }}</td>
                <td>{{ details.total_cost }}</td>
                <td>{{ details.weight }}</td>
                <td>{{ details.eway_bill }}</td>
                <td>{{ details.pay_status }}</td>
                <td>{{ details.remark }}</td>
                
                <td class="action-btns">
                    <a href="{% url 'branchinvoiceConsignment' details.track_id %}" class="btn btn-primary btn-sm">Receipt</a>

                </td>

            </tr>
        {% endfor %}
    </tbody>
            </table>
        </form>
    </div>
</div>


<div class="row mt-5">
          <div class="col-12 text-center">
            <!--
              **==========
              NOTE:
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/
              **==========
            -->


          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

